/*tumblr controls*/

iframe.tmblr-iframe {
    z-index: 99999999999999 !important;
    transform: scale(0.70);
    transform-origin: 100% 0;
    -webkit-transform: scale(0.70);
    -webkit-transform-origin: 100% 0;
    -o-transform: scale(0.70);
    -o-transform-origin: 100% 0;
    -moz-transform: scale(0.70);
    -moz-transform-origin: 100% 0;
    -ms-transform: scale(0.70);
    -ms-transform-origin: 100% 0;
}

/*html*/

html {
    word-wrap: break-word;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    hing: grayscale;
}

html,
body {
    margin: 0 !important;
    line-height: 21px !important;
}

/*link*/

a,
a:link,
a:visited,
a:active,
a:hover {
    text-decoration: none;
    -webkit-transition: color 0.15s;
    transition: color 0.15s;
}

img {
    max-width: 100%;
    height: auto;
}

/*text*/

blockquote {
    margin: 0;
    margin-left: 0.7em;
    padding: 0;
    padding-left: 0.7em;
    border-left: 1px solid rgb(var(--Text-Borders));
}

blockquote small {
    font-size: 0.9em;
}

pre,
code {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font: 0.9em 'Source Code Pro', monospace !important;
}

p {
    margin: 1em 0;
}

p:first-of-type {
    margin-top: 5px;
}

p:last-of-type {
    margin-bottom: 5px;
}

h1,
h2,
h3,
h4 {
    font-size: 1.2em;
    margin: 0;
    padding: 15px 0;
    font-weight: var(--Bold-Font);
}

h1:first-of-type,
h2:first-of-type,
h3:first-of-type,
h4:first-of-type {
    padding-top: 0;
}

small,
sub,
sup {
    font-size: 0.9em;
    vertical-align: baseline;
}

b,
strong {
    font-weight: var(--Bold-Font);

}

i,
em {
    font-style: italic;
}

/*lists*/

ol,
ul {
    list-style: none;
    margin: 0;
    margin-left: 2em;
    padding: 0;
    text-align: left;
}

ol li {
    position: relative;
    padding: 0.1em 0;
    counter-increment: list;
}

ol li:before {
    content: counter(list, decimal-leading-zero) '.';
    display: inline-block;
    vertical-align: baseline;
    margin-right: 5px;
}

ul li {
    position: relative;
    padding: 0.1em 0 0.1em 1.5em;
}

ul li:before {
    content: '';
    display: block;
    width: 0.9em;
    height: 1px;
    margin: 0;
    padding: 0;
    background-color: var(--Font-Color);
    position: absolute;
    top: 11px;
    left: 0;
}

/*selection*/

::selection {
    color: rgb(var(--Selection-Content));
    background-color: rgb(var(--Selection-Background));
}

::-moz-selection {
    color: rgb(var(--Selection-Content));
    background-color: rgb(var(--Selection-Background));
}

/*lightbox*/

#tumblr_lightbox,
.tmblr-lightbox {
    background-color: rgba(var(--Lightbox-Background), 1) !important;
}

#vignette,
.vignette,
.lightbox-caption {
    opacity: 0 !important;
}

.lightbox-image {
    -webkit-border-radius: 1em !important;
    -moz-border-radius: 1em !important;
    border-radius: 1em !important;
}

.lightbox-image,
#tumblr_lightbox img {
    box-shadow: none !important;
    -webkit-border-radius: 1em !important;
    -moz-border-radius: 1em !important;
    border-radius: 1em !important;
    border: 4px solid rgb(var(--Lightbox-Borders)) !important;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#media a {
    background: none;
}

/*photosets*/

[photoset-layout] {
    grid-gap: var(--NPF-Image-Spacing);
}

[photoset-layout] div {
    cursor: pointer;
}

.npf_row {
    display: flex !important;
    margin: calc(var(--NPF-Image-Spacing) / -2) !important;
    margin-bottom: calc(var(--NPF-Image-Spacing) / 2) !important;
}

.npf_row:last-of-type {
    margin-bottom: calc(var(--NPF-Image-Spacing) / -2) !important;
}

.tmblr-full {
    flex: 1;
    margin: 0 !important;
    padding: calc(var(--NPF-Image-Spacing) / 2) !important;
    width: auto !important;
    height: auto !important;
    outline: none;
}

/*audio*/

.soundcloud_audio_player {
    max-height: 116px !important;
}

.spotify_audio_player {
    max-height: 80px !important;
}

/*video*/

.video * {
    display: block;
    min-width: 100%;
}
