/* tumblr controls */

iframe.tmblr-iframe {
    z-index: 99999999999999 !important;
    transform: scale(0.8, 0.8);
    transform-origin: right top;
    -webkit-transform: scale(0.8, 0.8);
    -webkit-transform-origin: right top;
    -o-transform: scale(0.8, 0.8);
    -o-transform-origin: right top;
    -moz-transform: scale(0.8, 0.8);
    -moz-transform-origin: right top;
    -ms-transform: scale(0.8, 0.8);
    -ms-transform-origin: right top;
}

/* html */

html {
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-wrap: balance;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    hing: grayscale;

}

body {
    margin: 0 !important;
    line-height: 1.8em !important;
    letter-spacing: 0.4px !important;
    word-wrap: break-word !important;
}

img{
    max-width:100%;
    height:auto;
}

/* links */

a,
a:link,
a:visited,
a:active,
a:hover {
    text-decoration: none;
    transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
}

/* text */

pre,
code {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font: 0.9em monospace !important;
    line-height: 1.8em !important;
    letter-spacing: 0.4px !important;
    word-wrap: break-word !important;
}

blockquote {
    margin: 0;
    padding: 10px;
    border: 1px solid rgb(var(--textborders));
    box-sizing: border-box;
}

blockquote > p:first-of-type{
    margin-top: 0 !important;
}

h1,
h2,
h3,
h4 {
    font-size: 1.2em;
    font-weight: var(--boldfont);
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
p:last-child {
    margin-bottom: 0;
}

small,
sub,
sup {
    font-size: 0.9em;
    vertical-align: baseline;
}

b,
strong {
    font-weight: var(--boldfont);

}

i,
em {
    font-style: italic;
}

.npf_color_joey { color:#FF4136 !important; }
.npf_color_monica { color:#FF851B !important; }
.npf_color_phoebe { color:#FFDC00 !important; }
.npf_color_ross { color:#2ECC40 !important; }
.npf_color_rachel { color:#0074D9 !important; }
.npf_color_chandler { color:#B10DC9 !important; }
.npf_color_niles { color:#F012BE !important; }
.npf_color_frasier { color:#001f3f !important; }
.npf_color_mr_big { color:#111111 !important; }

.tmblr-attribution { margin: 0 !important; }

.tmblr-attribution a {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: right;
    position: relative;
}

/* lists */

ol,
ul {
    list-style: none;
    padding-left: 0;
    text-align: left;
}

ol li,
ul li {
    position: relative;
    margin: 0;
    padding: 0 0 0 24px;
}

ol li {
    counter-increment: list;
}

ul li {
    padding-left: 16px;
}

ol li:before,
ul li:before,
ul li:after {
    position: absolute;
    top: 0;
    left: 0;
}

ol li:before {
    content: counter(list, lower-alpha) '.';
    width: 20px;
    overflow:hidden;
}

ul li:after {
    content: '';
    background-color: rgb(var(--accentcolor));
    width: 8px;
    height: 8px;
    border-radius:10%;
    top: calc(var(--fontsize) / 2);
}

ul li:before {
    content: '';
    background-color: transparent;
    width: 8px;
    height: 8px;
    border: 1px solid rgb(var(--textborders));
    box-sizing: border-box;
    border-radius:10%;
    top: calc((var(--fontsize) / 2) + 2px);
    left: 2px;
}

/* lightbox */

#tumblr_lightbox,
.tmblr-lightbox {
    background-color: rgba(var(--lightboxbg), 0.65) !important;
}

#vignette,
.vignette,
.lightbox-caption {
    opacity: 0 !important;
}

.lightbox-image,
#tumblr_lightbox img {
    box-shadow: none !important;
    border-radius: 0.3em !important;
    border: 0 !important;
}

/* media */

.photo {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.photo img {
    width: 100%;
    display: block;
}

/* photosets */

[photoset-layout] {
    grid-gap: var(--NPF-Image-Spacing);
}

[photoset-layout] div {
    cursor: pointer;
}

/* audio */

.audio-media iframe {
    width: 100% !important;
    margin: 0;
}

.audio-media iframe.tumblr_audio_player {
    height: 85px !important;
}

/* video */

.video * {
    display: block;
    min-width: 100%;
}

/* credit */

.credit {
    background-color: rgb(var(--bgcolor));
    user-select: none;
    text-decoration: none;
    color: rgb(var(--fontcolor));
    position: fixed;
    z-index: 99999999999 !important;
    right: 1em;
    bottom: 1em;
}
