/*tumblr controls*/

iframe.tmblr-iframe {
    z-index: 99999999999999 !important;
    transform: scale(0.8, 0.8);
    transform-origin: right top;
    -webkit-transform: scale(0.8, 0.8);
    -webkit-transform-origin: right top;
    -o-transform: scale(0.8, 0.8);
    -o-transform-origin: right top;
    -moz-transform: scale(0.8, 0.8);
    -moz-transform-origin: right top;
    -ms-transform: scale(0.8, 0.8);
    -ms-transform-origin: right top;
}

/*html*/

html {
    word-wrap: break-word;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    hing: grayscale;
}

html,
body {
    margin: 0 !important;
    line-height: 21px !important;
}

/*link*/

a,
a:link,
a:visited,
a:active,
a:hover {
    -webkit-transition: color 0.15s;
    transition: color 0.15s;
}

img {
    max-width: 100%;
    height: auto;
}

/*text*/

blockquote.bord {
    padding: 0 0 0 1em;
    margin: 0.5em 0.5em 0 1em;
    border-left: 2px solid rgb(var(--Text-Borders));
}

blockquote.nobord {
    padding: 0;
    margin: 0;
}

blockquote small {
    font-size: 0.9em;
}

pre,
code {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font: 0.9em 'Roboto Mono', monospace;
    ;
}

p {
    margin: 0.7em 0;
}

p:first-of-type {
    margin-top: 5px;
}

p:last-of-type {
    margin-bottom: 5px;
}

h1,
h2,
h3,
h4 {
    font-size: 1.2em;
    margin: 0;
    padding: 15px 0;
    font-weight: var(--Bold-Font);
}

h1:first-of-type,
h2:first-of-type,
h3:first-of-type,
h4:first-of-type {
    padding-top: 0;
}

small,
sub,
sup {
    font-size: 0.9em;
    vertical-align: baseline;
}

b,
strong {
    font-weight: var(--Bold-Font);

}

i,
em {
    font-style: italic;
    font-family: 'Roboto Slab', serif;
    ;
}

/*lists*/

ol,
ul {
    list-style: none;
    margin: 0;
    margin-left: 2em;
    padding: 0;
    text-align: left;
}

ol li {
    position: relative;
    padding: 0.1em 0;
    counter-increment: list;
}

ol li:before {
    content: counter(list, decimal-leading-zero) '.';
    display: inline-block;
    vertical-align: baseline;
    margin-right: 5px;
}

ul li {
    position: relative;
    padding: 0.1em 0 0.1em 1.5em;
}

ul li:before {
    content: '';
    display: block;
    width: 0.9em;
    height: 1px;
    margin: 0;
    padding: 0;
    background-color: var(--Font-Color);
    position: absolute;
    top: 11px;
    left: 0;
}

/*photosets*/

[photoset-layout] {
    grid-gap: var(--NPF-Image-Spacing);
}

[photoset-layout] div {
    cursor: pointer;
}

.npf_row {
    display: flex !important;
    margin: calc(var(--NPF-Image-Spacing) / -2) !important;
    margin-bottom: calc(var(--NPF-Image-Spacing) / 2) !important;
}

.npf_row:last-of-type {
    margin-bottom: calc(var(--NPF-Image-Spacing) / -2) !important;
}

.tmblr-full {
    flex: 1;
    margin: 0 !important;
    padding: calc(var(--NPF-Image-Spacing) / 2) !important;
    width: auto !important;
    height: auto !important;
    outline: none;
}

/*audio*/

.audio-media iframe {
    width: 100% !important;
    margin: 0;
}

.audio-media,
.audio-media iframe.tumblr_audio_player {
    height: 85px !important;
}

.soundcloud_audio_player {
    max-height: 116px !important;
}

.spotify_audio_player {
    max-height: 80px !important;
}

/*video*/

.video * {
    display: block;
    min-width: 100%;
}
